<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bucket</title>
</head>
<body>
    <h1>Bucket Contents</h1>
    <ul>
    {% for blob in blobs %}
        {% if '/' in blob.name %}
            <li>
                <a href="{{ url_for('folder', folder_name=blob.name) }}">{{ blob.name }}</a>
            </li>
        {% else %}
            <li>
                <a href="{{ url_for('download', blob_name=blob.name) }}">{{ blob.name }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</body>
</html>
